body {
  font-family: "Sofia Sans", sans-serif;
  background-color: #111;
}

#exam-section {
  padding: 20px;
}
#exam-section h3 {
  color: #a3a3a3;
  font-size: 16px;
}
#exam-section p {
  color: #fff;
  font-size: 22px;
}

#user-info-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000;
}
#user-info-section .user-avatar-name img {
  width: 80px;
  height: 80px;
  border: 2px solid pink;
}
#user-info-section .user-avatar-name #username {
  color: #fff;
}

.toast {
  position: fixed;
  top: 1rem;
  z-index: 1055;
  max-width: 500px;
  text-align: center;
  font-size: 20px;
}
.toast.correct {
  background-color: #28a745 !important;
}
.toast.wrong {
  background-color: #dc3545 !important;
}

.avatar-option {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  border: 2px solid transparent;
}
.avatar-option:hover {
  border-color: pink;
}

.form-custom {
  background-color: #2f2f2f;
  border: 1px solid #4d4d4d;
  color: pink !important;
}
.form-custom:hover {
  border-color: pink;
}
.form-custom:focus, .form-custom:active {
  border-color: pink;
  background-color: #2f2f2f;
  box-shadow: none;
}
.form-custom::-moz-placeholder {
  color: #ccc;
}
.form-custom::placeholder {
  color: #ccc;
}

.btn-primary {
  background-color: pink;
  border-color: pink;
  color: #000;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: transparent !important;
  border-color: pink !important;
  color: pink !important;
}

.btn-exam {
  background-color: #2f2f2f !important;
  border: 1px solid #4d4d4d;
  color: #fff !important;
}
.btn-exam:hover {
  border-color: pink;
  color: pink !important;
}

.btn-exam.btn-success {
  background-color: #198754 !important;
  border-color: #198754 !important;
}
.btn-exam.btn-success:hover {
  border-color: #198754;
  color: #fff !important;
}

.question-result {
  color: #ccc;
  border-radius: 5px;
  border-color: rgba(255, 255, 255, 0.2) !important;
  cursor: pointer;
  transition: all 0.3s ease;
}
.question-result:hover {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.5) !important;
}
.question-result .question-details {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
}
.question-result .question-details .options-buttons {
  margin-bottom: 1rem;
}
.question-result .question-details p {
  margin-bottom: 0;
  font-size: 18px !important;
}

.test-finish {
  color: #a3a3a3;
  font-size: 16px;
}

#exam-status {
  color: #fff;
  font-size: 22px;
}